.footer {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}
.footer__box {
  display: block;
  width: 231px;
 
}
.container-footer {
  display: flex;
  margin-right: auto;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo span {
  color: var(--white-text-color);
}

.footer__box-social {
  display: block;
  padding-top: 11px;
  margin-left: 70px;
}

.footer__social-link {
  fill: var(--white-text-color);
  background: rgba(255, 255, 255, 0.1);
}

.footer__social-link:hover,
.footer__social-link:focus {
  fill: var(--main-background-color);
  background-color: var(--accent-text-color);
}


.footer__subscribe {
    margin-left: 93px;
  }

