.header {
  border-bottom: 1px solid var(--borde-line-color);

&__container {
  display: flex;
  align-items: center;
 
}
}

.header__logo {
  padding: 25px 93px 25px 0;

& span {
  color: #000000;
}
}
