.site-nav__list {
  display: flex;
  justify-content: center;
}

.site-nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: -1px;
  width: 0%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: width var(--easy-go);
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.current:visited:after {
  background-color: var(--accent-text-color);
}

.site-nav__link:hover:after,
.site-nav__link:focus:after,
.site-nav__link.current:after {
  width: 100%;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-text-color);
}