.section-team {
  background-color: var(--secondary-background-color);
}

.section-team__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.section-team__item {
  max-width: 270px;
  text-align: center;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.wrap {
  margin: auto;
  padding: 30px 32px;
}
.section-team__name {
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section-team__position {
  margin-top: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
